/*! Place your custom styles here */
.nopadding{
  padding: 0px;
}
.box-custom{
  margin:0px;
  padding-top: 10px;
  padding-bottom: 0px;
}
.fa-color-custom{
  color: #ED104F;
}
h1 {
  font-size: 6.14285714em;
  font-family: 'Gloria Hallelujah', cursive;
}
.block:hover{

}
